.page{
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  max-width: 880px;
  background-color: #000;
  font-family: "Inter", Arial, sans-serif;
  box-sizing: border-box;
}

@keyframes appearance {

  form{
    opacity: 0;
  }
  to{
    opacity: 1;
  }

}

@keyframes disappearance{
  form{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}